<div class = "bod">
  <div class="col-md-10 col-sm-8 body-wrap">
              <div class="body-container">
                  <div class="body-header">
                      Raw Material Usage Report
<div class="add"><%= link_to users_raw_material_usage_path, class: "btn btn-default", :title => 'Back', :rel =>'tooltip' do%>
<i class="fa fa-arrow-left"></i><%end%></div>

<div class="body-content">
                       <div class="table-container">
      <table class="table">  


  <thead>
    <tr>
      <th>Issue Slip No</th>
      <th>Issue Date</th>
      <th>Shift</th>
      <th>Raw Mat Issues</th>
      <th>RM Quantity</th> 
    </tr>
  </thead>

  <tbody>
    <% @issue.each do |issue| %>
      <tr>
      <td><%= issue.issue_slip_no %></td>
        <td><%= issue.issue_date %></td>
        <td><%= issue.shift %></td>
        <td><%= issue.rm_issues %></td>       
        <td><%= issue.rm_qty %></td>
        
                <% end %> </tr>
  </tbody>
</table>

<table class="table" style="width:40%"><thead>
<tr>
<th>Raw Material Issues</th>
<th>RM Quantity</th></tr></thead>
<tbody>
  <div style="color: black;font-size: 12px;padding: 10px;">
  <% @value.each do |i,j|%>
     <td><%= i %></td><td><%= j.to_f.round(4) %></td></tr>
  <% end %>

  </tbody></table>
</div>

</div>
</div>



<!-- <style>
#back
{
  color : red;
}
</style>
 -->